useDynLib(MACHINE)
import(RcppEigen)
importFrom(Rcpp, evalCpp)
export(CreateMACHINEObject)
export(MACHINE_MCMC)
export(MACHINE_CS)
exportClasses(MACHINE)
import(Matrix)
import(dplyr)
import(magrittr)
import(foreach)
import(RSpectra)
exportPattern("^[[:alpha:]]+")
